:root{
  color: #FFFAE2;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  overflow-anchor: none;
  --lighter-blue-color: rgba(2,0,97,1);
  --darker-blue-color: rgba(3,22,65,1);
  --opening-height: 100vh;
  --opening-height-phone: 100vh;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden; /* hide horizontal */
}

h3, h2, h1{
  margin: 0;
}
h2{
  font-weight: 400;
  font-size: 1.9rem;
  margin: 2% 0 1%;
}
h3{
  font-weight: 300;
  font-size: 1.7rem;
}
h1{
  font-weight: 400;
  font-size: 2.2rem;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #FFFAE2;
}
a:visited{
  color: #FFFAE2;
}
a:visited:hover{
  color: #b3ae9b;
}
a:hover{
  color: #b3ae9b;
}
ul{
  padding: 0;
}

/* ---------------------Scroll Bar------------------ */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #b3a981;
}


/* -----------------Opening Section--------------------- */
#opening-section{
  /* margin-top: 12vh; Used it when the picture at the tope was smaller and didnt want the nav to be on it */
  margin-top: 0;
  height: var(--opening-height-phone);
  text-align: center;
  display: table;
  position: relative;
}

.opening-background-image{
  background-image: url('../Images/PicSpeed.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(43%);
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: var(--opening-height-phone);
}

.opening-sentance{
  padding: 0 5vw;

  /* vertical alignment */
  display: table-cell;
  width: 100vw;
  vertical-align: middle;

  /* Show infornt image */
  position: relative;
  z-index: 5;

  /* Text */
  font-size: 2.7rem;
  font-weight: 700;
  text-shadow: 0 0 1px black;
}

@media only screen and (min-width: 768px) {
  .opening-sentance{
    padding: 0 5vw 10vh calc(80px + 10vw);
  }
  #opening-section{
    height: var(--opening-height);
  }
}

@media only screen and (max-device-width: 768px) {
  .opening-sentance{
    padding: 0 5vw;
  }
  #opening-section{
    height: var(--opening-height-phone);
  }
}


/* ------------------About Section----------------- */
#about-section{
  background-image: linear-gradient(1deg,  var(--darker-blue-color) 15%, rgba(97,149,219,1) 158.5% );
  height: auto;
  min-height: 100vh;
  width: 100%;
}
#about-grid{
  padding: 20vh 5vw 5% 5vw;
  display: grid;
  text-align: left;
  grid-template-rows: 25vh auto;
}
.about-text-block{
  padding-top: 17%;
  max-width: 94vw;
}
.about-text{
  line-height: 40px;
}
.logo-block{
  position: relative;
  display: flex;
  padding: 10%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.logo{
  max-height: 30vh;
  height: auto;
  width: auto;
  max-width: 90vw;
}

@media only screen and (min-width: 1000px) {
  #about-grid{
    grid-template-columns: 40vw 40vw;
    grid-template-rows: none;
  }
  .logo{
    max-height: none;
    width: 100%;
  }
}
@media only screen and (max-device-width: 1000px) {
  #about-grid{
    grid-template-columns: none;
    grid-template-rows: 25vh auto;
  }
  .logo{
    max-height: 30vh;
    width: auto;
  }
}
@media only screen and (min-width: 768px) {
  #about-grid{
    padding-left: calc(90px + 10vw);
  }
}
@media only screen and (max-device-width: 768px) {
  #about-grid{
    padding-left: 5vw;
  }
}

/* ----------Careers Section------------------ */
#careers-section{
  min-height: 100vh;
  height: auto;
  /* background-image: radial-gradient( circle farthest-corner at 85.4% 50.8%,  rgba(14,72,222,1) 0%, rgba(3,22,65,1) 74.2% ); */
  background-image: radial-gradient( circle farthest-corner at 82.4% 60.8%,  rgba(97,149,219,1) -50%, rgba(3,22,65,1) 74.2% );
}

.contact-text{
  font-size: 1.2rem;
  font-weight: 400;
}
.contact-link{
  color: #fff68f;
  font-size: 1.4rem;
  transition: color .1s linear;
}
.contact-link:hover{
  color: #b3ac64;
}
