/* ------------------Navbar------------------------ */
#web-nav {
    height: 100vh;
    width: 15vw;
    background-color: black;
    z-index: 20;
    position: fixed;
    left: 0px;
    opacity: 0.7
}

.logo-nav {
    margin: 70px auto 85px ;
    display: block;
    width: 120px;
    height: auto;
    transition: width 600ms ease;
}

.menu-nav{
  color: white;
  list-style-type: none;
  text-align: center;
}

.menu-nav li{
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3rem;
  color: #FFFAE2;

}

.menu-nav li a{
  transition: font-size 200ms ease;
}

/* -----------------Navbar Phone-------------------- */
#web-nav-phone {
    height: 12vh;
    width: 100vw;
    background-color: black;
    z-index: 20;
    position: fixed;
    top: 0px;
    opacity: 0.7;
}
.logo-nav-phone {
    margin: 1vh 30px;
    display: block;
    width: auto;
    height: 10vh;
}
