:root{
  --nav-height: 12vh;
  --nav-height-min: 80px;
}

/* ------------------Navbar------------------------ */
#web-nav {
    height: 100vh;
    min-width: 10rem;
    width: 13.5vw;
    background-color: black;
    z-index: 20;
    position: fixed;
    left: 0px;
    opacity: 0.7;
    display: none;
}

.logo-nav {
    margin: 70px auto 85px ;
    display: block;
    width: 120px;
    height: auto;
    transition: width 600ms ease;
}

.menu-nav{
  list-style-type: none;
  text-align: center;
}

.menu-nav li{
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3rem;
  color: #FFFAE2;
}

.menu-nav li a{
  transition: font-size 200ms ease;
}

/* -----------------Navbar Phone-------------------- */
#web-nav-phone {
  display: block;
  min-height: var(--nav-height-min);
  max-height: var(--nav-height);
  width: 100vw;
  background-color: black;
  z-index: 20;
  opacity: 0.7;

  /* Fixing to top */
  position: fixed;
  top: 0px;

  /* Hide list items */
  overflow: hidden;

  transition: max-height .5s ease-in-out;
}
#web-nav-phone.open{
  max-height: calc(var(--nav-height) + 10rem);
}
.nav{
  position: relative;

  /* Positioning inner elements */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Same as the web-nav height */
  min-height: var(--nav-height-min);
  height: var(--nav-height);
}

.logo-nav-phone {
  margin-top: 5px;
  margin-left: 30px;
  display: inline-block;
  width: auto;

  /* Same as the web-nav height (but a bit smaller) */
  min-height: calc(var(--nav-height-min) - 10px);
  height: calc(var(--nav-height) - 2vh);
}
.menu-nav-phone li{
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3rem;
  color: #FFFAE2;
}
.menu-nav-phone{
  margin-left: 30px;
  list-style-type: none;
}
.menu-btn-container{
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.menu-btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;

  /* Same as the web-nav height (but a bit smaller) */
  min-height: calc(var(--nav-height-min) - 10px);
  height: calc(var(--nav-height) - 2vh);
  min-width: calc(var(--nav-height-min) - 10px);
  width: calc(var(--nav-height) - 2vh);
}
.menu-btn-burger{
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before{
  transform: translateY(-16px);
}
.menu-btn-burger::after{
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn-burger{
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg) ;
}
.menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg) ;
}

/* --------------------Responsive----------------- */
@media only screen and (min-width: 768px) {
  #web-nav {
    display: block;
  }
  #web-nav-phone{
    display: none;
  }
}
@media only screen and (max-device-width: 768px) {
  #web-nav {
    display: none;
  }
  #web-nav-phone{
    display: block;
  }
}
